.node {
  stroke: #fff;
  stroke-width: 1.9px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}
h2{
	text-align: center;
	margin: 1em 0 0.5em 0;
	color: #343434;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;   
	font-size: 32px;
	line-height: 42px;
	text-transform: uppercase;
	text-shadow: 0 2px white, 0 3px #777;
}